/*** Reset ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  color: rgb(41, 41, 41);
  font-family: Helvetica, sans-serif;
}

/*** Informações iniciais ***/

.info-inicial {
  background-color: #050046;
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  padding: 5px calc((100% - 1024px) / 2);
  flex-wrap: wrap;

  p {
    margin: 0 10px;
  }

  a {
    margin: 0 10px;
    color: white;
  }
}

/*** Header ***/

header {
  background-color: #2a1fc0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px calc((100% - 1024px) / 2);
  flex-wrap: wrap;

  h1 {
    font-size: 36px;
    line-height: 2em;
    margin: 0 10px;
  }
}

.navegacao {
  ul {
    display: flex;
    flex-wrap: wrap;
  }

  a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 16px;

    &:hover {
      color: #050046;
    }
  }
}

/*** Titulo do blog ***/

.titulo-blog {
  padding: 30px calc((100% - 1024px) / 2);
  color: rgb(24, 24, 24);
  font-size: 30px;
  margin: 0 10px;
}

/*** Container Sobre ***/

.sobre {
  display: flex;
  padding: 5px calc((100% - 1024px) / 2);
  margin: 20px 0;
  flex-wrap: wrap;

  p {
    line-height: 1.4;
    margin-bottom: 20px;
  }
}

.texto-sobre {
  flex: 2 0 260px;
  flex-wrap: wrap;
  margin: 0 10px;
}

.titulo-sobre {
  font-size: 26px;
  margin-bottom: 20px;
}

.image1-sobre,
.image2-sobre {
  margin: 0 10px 10px 10px;
  flex: 1 1 170px;

  img {
    max-width: 100%;
  }
}

/*** Produtos ***/

.produtos {
  padding: 5px calc((100% - 1024px) / 2);
  margin: 20px 0;
}

.titulo-produtos {
  margin: 0 10px 20px 10px;
}

.lista-produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.produto1,
.produto2,
.produto3 {
  margin: 0 10px 20px 10px;
  flex: 1 1 200px;

  img {
    max-width: 100%;
  }

  p {
    line-height: 1.4;
    margin: 10px 0;
  }

  h3 {
    line-height: 1.4;
    color: rgb(24, 24, 24);
    margin-top: 10px;
    letter-spacing: 1.3px;
  }
}

.produto1 {
  border-top: 4px solid #dc3b0f;
}

.produto2 {
  border-top: 4px solid #5201a0;
}

.produto3 {
  border-top: 4px solid #f09682;
}

/*** Valores ***/

.valores {
  background-color: rgb(247, 247, 247);
  padding: 30px calc((100% - 1024px) / 2);
}

.titulo-valores {
  margin: 0 10px 20px 10px;
}

.lista-valores {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;

  p {
    border-bottom: 2px solid rgb(24, 24, 24);
    border-top: 2px solid rgb(24, 24, 24);
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
  }

  sup {
    font-size: 0.5em;
  }

  li {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:first-child {
      margin-top: 20px;
    }

    &::after {
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #2a1fc0;
    }
  }

  a {
    color: rgb(24, 24, 24);
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 30px;
    border: 2px solid rgb(24, 24, 24);
    display: block;
    margin: 20px auto 10px auto;
    max-width: 200px;
    text-align: center;
  }
}

.cobre,
.prata,
.ouro {
  margin: 0 10px 20px 10px;
  flex: 1 1 260px;
  border: 2px solid rgb(24, 24, 24);
  padding: 20px;
}

.cobre h2 {
  font-size: 32px;
  color: #b14f32;
  margin: 10px 0;
  text-align: center;
}

.prata h2 {
  font-size: 32px;
  color: #7d7d7d;
  margin: 10px 0;
  text-align: center;
}

.ouro h2 {
  font-size: 32px;
  color: #cea227;
  margin: 10px 0;
  text-align: center;
}

/*** Vantagens ***/

.vantagens {
  padding: 30px calc((100% - 1024px) / 2);
}

.titulo-vantagens {
  margin: 0 10px 20px 10px;
}

.lista-vantagens {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.vantagem-item {
  flex: 1 1 250px;
  margin: 10px 10px;

  h3 {
    line-height: 1.4;
    color: rgb(24, 24, 24);
    margin-top: 10px;
    letter-spacing: 1.3px;
    padding-left: 10px;
  }

  p {
    line-height: 1.4;
    margin: 10px 0;
  }

  &:nth-of-type(3n + 1) h3 {
    border-left: 4px solid #dc3b0f;
  }

  &:nth-of-type(3n + 2) h3 {
    border-left: 4px solid #5201a0;
  }

  &:nth-of-type(3n + 3) h3 {
    border-left: 4px solid #f09682;
  }
}

/*** Contato ***/

.contato {
  background-color: #2a1fc0;
  padding: 30px calc((100% - 1024px) / 2);
}

.titulo-contato {
  margin: 0 10px 20px 10px;
  color: white;
}

.container-form {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;

  P {
    color: white;
    flex: 1;
    margin: 0 30px 20px 0;
    line-height: 1.4;
  }
}

.form-contato {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 2;

  button {
    height: 30px;
    width: 100px;
    border: 2px solid white;
    background-color: #050046;
    color: white;
    font-size: 14px;
    text-transform: uppercase;

    &:hover {
      background-color: rgb(5, 0, 70);
      opacity: 0.7;
      cursor: pointer;
    }
  }
}

.name-email {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.label-name,
.label-email {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 12px;
  flex: 1;
  margin-bottom: 20px;
  max-width: 49%;

  input {
    height: 30px;
    margin-top: 5px;
    padding: 5px;
  }
}

.label-mensagem {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: white;
  margin-bottom: 20px;

  textarea {
    margin-top: 5px;
    min-height: 60px;
    min-width: 250px;
    max-width: calc((1024px / 3) * 2);
    max-height: 150px;
    padding: 5px;
  }
}

/*** Footer ***/

.footer {
  background-color: #050046;
  padding: 30px calc((100% - 1024px) / 2);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contatos-footer {
  margin: 0 10px;
  color: white;
  align-self: center;
  line-height: 1.4;

  a {
    color: white;
  }
}

.direitos {
  color: white;
  align-self: flex-end;
  font-size: 14px;
  margin: 20px 10px 0 10px;
}
